.drinkCard {
    background-color: rgb(56, 55, 55);
    width: 100%;
    height: 60vh;
    padding-top: 100%;
    transition: scale 0.1s;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    padding: 0.5em 0.5em 1em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: visible;
}

.drinkCard:hover {
    scale: 1.1;
}

.drinkCard h2 {
    font-size: 2em;
    width: 100%;
    text-align: center;
    padding-bottom: 0.1em;
}

.drinkCard img {
    /* width: 18em;
    height: 18em; */
    width: 100%;
    height: 70%;
    align-self: center;
    background-color: red;
    border-radius: 20px;
    padding: 0.2em;
}

.drinkCard ul {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
    row-gap: 0.5em; */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0.1em;
    flex-wrap: wrap;
    justify-content: center;
}

.drinkCard li {
    font-size: 1em;
    padding: 0 0.3em;
    text-align: center;
    font-weight: bold;
    list-style: none;
}

/* Tablet Layout */
/* @media (max-width: 1024px) {
    .drinkCard {
        height: 50vh;
    }
} */

/* Phone Layout */
/* @media (max-width: 600px) {
    .drinkCard {
        height: 30vh;
    }
} */

