.drinkPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    /* font-size: calc(1rem + 1vmin);
     */
    font-size: calc(0.75rem + 1vmin);
    overflow-y: auto;
}

.drinkPage h1 {
    margin: 5vh 0;
    overflow: visible;
    font-size: 4em;
    width: 100%;
    text-align: center;
}

.drinkPage section {

    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 5%;
    overflow: visible;
}

.searchbarContainer {
    width: 80vw;
    height: 5vh;
    margin-bottom: 5vh;
}

.searchbarContainer form input {
    font-size: 1em;
}

/* Tablet layout */
@media (max-width: 1024px) {
    .drinkPage section {
        grid-template-columns: 1fr 1fr;
    }
}

/* Phone Layout */
@media (max-width: 600px) {
    .drinkPage section {
        grid-template-columns: 1fr;
        row-gap: 10%;
    }
}
