.drinkPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: calc(0.75rem + 1vmin);
    margin-bottom: 2vh;
}

.drinkPage h1 {
    margin: 5vh 0;
    overflow: visible;
    font-size: 4em;
    width: 100%;
    text-align: center;
}

.drinkPage a {
    margin-bottom: 1em;
}

.drinkPage section {

    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw;
    row-gap: 5vh;
}

.drinkPage section a {
    margin: 0;
}

.searchbarContainer {
    width: 80vw;
    height: 5vh;
    margin-bottom: 5vh;
}

.searchbarContainer form input {
    font-size: 1em;
}

/* Tablet layout */
@media (max-width: 1024px) {
    .drinkPage section {
        grid-template-columns: 1fr 1fr;
    }

    .searchbarContainer {
        height: 10vh;
    }
}

/* Phone Layout */
@media (max-width: 600px) {
    .drinkPage section {
        grid-template-columns: 1fr;
        row-gap: 3vh;
    }

    .drinkPage h1 {
        margin: 2vh 0 0 0;
    }

    .searchbarContainer {
        height: 5vh;
    }
}
