.drinkBody {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: fit-content;
    width: 100%;
}

.upperContainer {
    display: flex;
    min-height: 60vh;
}

.dummy {
    height: 0;
    width: 35%;
    padding-bottom: 35%;
    position: relative;
}

.dummy img {
    height: 100%;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.materialsSection {
    display: flex;
    flex-direction: column;
    width: 60%;

}

.materialsSection h1 {
    text-align: center;
    font-size: 3.5em;
}

.listParentContainer {
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
}

.listContainer {
    display: flex;
    flex-direction: column;
}

.listContainer h2 {
    font-size: 2.25em;
}

.listContainer ul {
    padding: 0;
}

.listContainer li {
    list-style: disc;
    list-style-position: inside;
    font-size: 1.5em;
    margin: 0.5em 0;
}

.stepsSection {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}


.stepsSection h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    overflow: visible;
}

.stepsSection li {
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 1.5em;
    margin: 0.5em 0;
}

/* Tablet layout */
@media (max-width: 1024px) {
    .upperContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .dummy {
        width: 50%;
        padding-bottom: 50%;
    }

    .materialsSection {
        width: 100%;
    }

    .materialsSection li {
        font-size: 1.75em;
    }

    .listContainer {
        width: 40%;
    }

    .stepsSection h2 {
        font-size: 2.5em;
    }

    ol {
        padding: 0;
    }

    .stepsSection li {
        font-size: 2em;
    }
}

/* Phone Layout */
@media (max-width: 600px) {

    .dummy {
        width: 80%;
        padding-bottom: 80%;
    }

    .materialsSection h1 {
        width: 100%;
        font-size: 3.5em;
        overflow-x: visible;
    }

    .listParentContainer {
        padding: 0;
        flex-direction: column;
    }

    .listParentContainer h2 {
        font-size: 2em;
        text-align: center;
        margin-top: 2vh;
    }

    .listParentContainer li {
        font-size: 1.5em;
        text-align: center;
    }

    .listContainer {
        width: auto;
    }

    .stepsSection h2 {
        text-align: center;
        font-size: 2em;
    }

    .stepsSection ol {
        padding: 0;
    }

    .stepsSection li {
        text-align: center;
    }
}